In [2]:
import pandas as pd
fd=pd.read_excel("Shopcluesfile.xlsx")
fd.head(5)

,Names,Price,Discount,Links
0,"Moto G5 Plus (4 GB,32 GB,FINE GOLD)",Rs.15999.00,28% Off,//www.shopclues.com/moto-g5-plus-4-gb-32-gb-fi...
1,"Nokia 1 (1GB, 8GB) Dark Blue",Rs.4199,10% Off,//www.shopclues.com/nokia-1-1gb-8gb-dark-blue-...
2,"NOKIA 2.1(Dual SIM,8 GB, 1 GB RAM, 5.5 inches ...",Rs.6899,28% Off,//www.shopclues.com/nokia-2.1-140439163.html
3,"Nokia 1 (1 GB , 8 GB)",Rs.4299,31% Off,//www.shopclues.com/nokia-1-red-135748685.html
4,"Moto E4(2 GB,16 GB,GOLDEN)",Rs.8999,47% Off,//www.shopclues.com/moto-e4-2-gb-16-gb-golden-...

In [3]:
fd['Price'] = (fd['Price'].str[3:].astype(str))
fd.head(4)

,Names,Price,Discount,Links
0,"Moto G5 Plus (4 GB,32 GB,FINE GOLD)",15999.00,28% Off,//www.shopclues.com/moto-g5-plus-4-gb-32-gb-fi...
1,"Nokia 1 (1GB, 8GB) Dark Blue",4199,10% Off,//www.shopclues.com/nokia-1-1gb-8gb-dark-blue-...
2,"NOKIA 2.1(Dual SIM,8 GB, 1 GB RAM, 5.5 inches ...",6899,28% Off,//www.shopclues.com/nokia-2.1-140439163.html
3,"Nokia 1 (1 GB , 8 GB)",4299,31% Off,//www.shopclues.com/nokia-1-red-135748685.html

In [4]:
s=fd['Names']
type(s)
a=pd.DataFrame(s.apply(lambda st: st[st.find("(")+1:st.find(")")]))
a.head(5)

                                         Names
0                         4 GB,32 GB,FINE GOLD
1                                     1GB, 8GB
2  Dual SIM,8 GB, 1 GB RAM, 5.5 inches DISPLAY
3                                  1 GB , 8 GB
4                            2 GB,16 GB,GOLDEN

In [6]:
a['RAM'] = a.Names.str.split(',').str[0].astype(str)
a['STORAGE'] = a.Names.str.split(',').str[1].astype(str)
a['Colour'] = a.Names.str.split(',').str[2].astype(str)
a.head(5)

                                         Names       RAM STORAGE     Colour
0                         4 GB,32 GB,FINE GOLD      4 GB   32 GB  FINE GOLD
1                                     1GB, 8GB       1GB     8GB        nan
2  Dual SIM,8 GB, 1 GB RAM, 5.5 inches DISPLAY  Dual SIM    8 GB   1 GB RAM
3                                  1 GB , 8 GB     1 GB     8 GB        nan
4                            2 GB,16 GB,GOLDEN      2 GB   16 GB     GOLDEN

In [7]:
fd["Names"]= fd["Names"].str.split("(",expand=True)
fd.head(4)
fd['Brand_Name'] = fd.Names.str.split(' ', 1).str[0].astype(str)
fd['Model_Name']=fd.Names.str.split(' ', 1).str[1].astype(str)
fd.head(4)

,Names,Price,Discount,Links,Brand_Name,Model_Name
0,Moto G5 Plus,15999.00,28% Off,//www.shopclues.com/moto-g5-plus-4-gb-32-gb-fi...,Moto,G5 Plus
1,Nokia 1,4199,10% Off,//www.shopclues.com/nokia-1-1gb-8gb-dark-blue-...,Nokia,1
2,NOKIA 2.1,6899,28% Off,//www.shopclues.com/nokia-2.1-140439163.html,NOKIA,2.1
3,Nokia 1,4299,31% Off,//www.shopclues.com/nokia-1-red-135748685.html,Nokia,1

In [8]:
main_df=pd.concat([fd["Names"],fd["Brand_Name"],fd["Model_Name"],a["RAM"],a["STORAGE"],fd["Price"],fd["Discount"],fd["Links"],a['Colour']],axis=1)
main_df.head(20)

,Names,Brand_Name,Model_Name,RAM,STORAGE,Price,Discount,Links,Colour
0,Moto G5 Plus,Moto,G5 Plus,4 GB,32 GB,15999.00,28% Off,//www.shopclues.com/moto-g5-plus-4-gb-32-gb-fi...,FINE GOLD
1,Nokia 1,Nokia,1,1GB,8GB,4199,10% Off,//www.shopclues.com/nokia-1-1gb-8gb-dark-blue-...,nan
2,NOKIA 2.1,NOKIA,2.1,Dual SIM,8 GB,6899,28% Off,//www.shopclues.com/nokia-2.1-140439163.html,1 GB RAM
3,Nokia 1,Nokia,1,1 GB,8 GB,4299,31% Off,//www.shopclues.com/nokia-1-red-135748685.html,nan
4,Moto E4,Moto,E4,2 GB,16 GB,8999,47% Off,//www.shopclues.com/moto-e4-2-gb-16-gb-golden-...,GOLDEN
5,Micromax Canvas Juice 3 Q392,Micromax,Canvas Juice 3 Q392,2 GB,8 GB,9000,3% Off,//www.shopclues.com/micromax-canvas-juice-3-q3...,Grey
6,Apple iPhone X 64 GB,Apple,iPhone X 64 GB,3 GB/64 GB/Space Grey,nan,89000,27% Off,//www.shopclues.com/apple-iphone-x-64-gb-3-gb-...,nan
7,Moto Z2 Play,Moto,Z2 Play,Lunar Gray,64 GB,15899,6% Off,//www.shopclues.com/moto-z2-play-lunar-gray-64...,nan
8,Micromax Canvas 2,Micromax,Canvas 2,3 GB,16 GB,7799,1% Off,//www.shopclues.com/micromax-canvas-2-13028730...,nan
9,Lenovo Vibe P1 Turbo,Lenovo,Vibe P1 Turbo,3 GB,32 GB,10899,10% Off,//www.shopclues.com/lenovo-vibe-p1-turbo-3-gb3...,Silver
10,Oppo A57,Oppo,A57,3 GB,32 GB,14990,12% Off,//www.shopclues.com/oppo-a57-gold-32gb-1241141...,Gold
11,Micromax Q402,Micromax,Q402,512 MB,4 GB,3590,19% Off,//www.shopclues.com/new-micromax-mobile-bharat...,BLACK
12,Apple iPhone X 64 GB,Apple,iPhone X 64 GB,3 GB/64 GB/Space Grey,nan,89000,27% Off,//www.shopclues.com/apple-iphone-x-64-gb-3-gb-...,nan
13,Nokia 6.1,Nokia,6.1,4 GB,64 GB,17199,47% Off,//www.shopclues.com/nokia-n6.1-64gb-140320764....,nan
14,REDMI NOTE 5 PRO 4/64 GB GOLD,REDMI,NOTE 5 PRO 4/64 GB GOLD,REDMI NOTE 5 PRO 4/64 GB GOL,nan,14449,27% Off,//www.shopclues.com/redmi-note-5-pro-4-64-gb-g...,nan
15,OPPO F9 Pro,OPPO,F9 Pro,Twilight Blue,64 GB,22990,20% Off,//www.shopclues.com/oppo-f9-pro-twilight-blue-...,nan
16,Apple iPhone 6,Apple,iPhone 6,Gold 32GB,nan,23899,4% Off,//www.shopclues.com/apple-iphone-6-gold-32gb-1...,nan
17,Apple iPhone 7,Apple,iPhone 7,2 GB,32 GB,43999,18% Off,//www.shopclues.com/apple-iphone-7-32gb-rose-g...,Rose Gold
18,Apple iPhone X,Apple,iPhone X,3 GB/64 GB/Silver,nan,89000,28% Off,//www.shopclues.com/apple-iphone-x-3-gb-64-gb-...,nan
19,Lenovo k6 power,Lenovo,k6 power,3 GB,32 GB,11590,13% Off,//www.shopclues.com/lenovo-k6-power-3-gb-32-gb...,Grey

In [10]:
writer = pd.ExcelWriter(r'Main_clean_shopclues_finaL.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})
main_df.to_excel(writer)
writer.close()